[submodule "ECommons"]
	path = ECommons
	url = https://github.com/Taurenkey/ECommons.git
[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/PunishXIV/PunishLib.git
[submodule "ClickLib"]
	path = ClickLib
	url = https://github.com/Taurenkey/ClickLib.git
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/Taurenkey/OtterGui
[submodule "raphael-rs"]
	path = raphael-rs
	url = https://github.com/Taurenkey/raphael-rs.git
